{% extends "base.html" %}
{% import 'imports/forms.html' as forms %}

{% block page_title %}Check Your Cart{% endblock %}

{% block container%}
<div class="well">
  <legend>Check Your Cart</legend>
  <h4>Order No. : #{{order.id}}</h4>
  <table cellspacing="0" class="table table-striped">
    <thead>
      <tr>
        <th class="span1">Name</th>
        <th class="span1">Pic</th>
        <th class="span2">Price</th>
        <th class="span2">Num</th>
        <th class="span2">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for oi in order.items%}
      <tr>
        <td>{{oi.commodity.name}}</td>
        <td>{{ forms.bs_img(url_for('static', filename='img/commodity/'+oi.commodity.imgs.execute().first().name), class="span1") }}</td>
        <td>{{oi.price}}</td>
        <td>{{ forms.input_num("num", "num-"+oi.id|string, class="order-num", ph="Number", value=oi.num, other='data-id="'+oi.id|string+'"') }}</td>
        <td><span class="total-price">{{oi.total_price()}}</span><a class="close" data-id="{{oi.id}}">&times; </a></td>
      </tr>
      {% endfor %}
      <tr>
        <td><h5>Order Status</h5></td>
        <td>
          {% if order.status == 0 %}
          <span class="label">Created</span>
          {% elif order.status == 1 %}
          <span class="label label-info">Confirmed</span>
          {% elif order.status == 2 %}
          <span class="label label-warning">Sent</span>
          {% elif order.status == 3 %}
          <span class="label label-success">Complete</span>
          {% elif order.status == 4 %}
          <span class="label label-inverse">Canceled</span>
          {% endif %}
        </td>
        <td><h5>Total Price</h5></td>
        <td>
          <span class="label label-info">$<span class="raw-price">{{order.total_price_raw()}}</span></span> &times;
          <span class="label label-info"><span class="discount">{{order.discount}}%</span></span> =
          <span class="label label-info">$<span class="all-price">{{order.total_price()}}</span></span>
        </td>
        <td>
          {{ forms.bs_link("Confirm & Pay Your Order", href=url_for('cart.check_address', order_id=order.id), class="btn btn-success", icolor="white", itype="shopping-cart", other='id="confirm-order"')}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<script src="{{url_for('static', filename='js/mine/cart/check.js')}}"></script>
{% endblock %}
