<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Account" data-toggle="tab">Account</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Account" class="tab-pane active">
    <form class="form-horizontal" id="account-form">
      <div class="control-group" id="account_username_ctr">
        <label for="overview-username" class="control-label">Username: </label>
        <div class="controls">
          <input type="text" id="overview-username" name="username" placeholder="User Name"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group" id="passwd_ctr">
        <label for="psw" class="control-label">Password: </label>
        <div class="controls">
          <input type="password" id="psw" name="password" placeholder="Password"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="form-actions clear">
        <a class="btn" id="overview-submit">
          <i class="icon-plus"></i>
          Add User
        </a>
      </div>
    </form>
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$("#overview-submit").click(function() {
  var data = {
    username : $("#overview-username").val(),
    password: $("#psw").val()
  };
  user.create(data).done(function(json) {
    $.get('/admin/user/table', function(data) {
      $('#table-position').html(data);
    });
    /*
    var item = '<tr class="table-item" id="table-item-' + json.user.id + '">'
                + '<td class="item-id">' + json.user.id + '</td>'
                + '<td class="item-name">' + json.user.username + '</td>'
                + '<td class="item-active"><div class="btn-group" data-toggle="buttons-radio">'
                + '<a class="u_active btn active btn-success'
                + '">Active</a><a class="u_deactive btn  btn-success ">Inactive</a>';
  
    item += '</div></td><td class="oprations"><a class="edit btn btn-info">'
                + '<i class="icon-pencil"></i>Edit</a></td></tr>';
    $("#admin-table tbody").append(item);
    */
    $.fancybox.close();
  });
});
});
</script>
