<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Account" data-toggle="tab">Account</a>
  </li>
  <li>
    <a href="#Password" data-toggle="tab">Password</a>
  </li>
  <li>
    <a href="#Role" data-toggle="tab">Roles</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Account" class="tab-pane fade active in">
    <form class="form-horizontal" id="account-form">
      <div class="span7 left"> 
        <div class="control-group" id="account_username_ctr">
          <label for="overview-username" class="control-label">Username: </label>
          <div class="controls">
            <input type="text" id="overview-username" name="username" placeholder="User Name" value="{{user.username}}"/>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group" id="account_age_ctr">
          <label for="overview-age" class="control-label">Age: </label>
          <div class="controls">
            <input type="text" id="overview-age" name="age" placeholder="Age" value="{{user.age}}"/>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group" id="account_gender_ctr">
          <label for="overview-gender" class="control-label">Gender: </label>
          <div class="controls">
            <select name="gender" id="overview-gender">
              <option value="0" {% if user.gender == 0 %}selected="selected"{%endif%}>Secrete</option>
              <option value="1" {% if user.gender == 1 %}selected="selected"{%endif%}>Boy</option>
              <option value="2" {% if user.gender == 2 %}selected="selected"{%endif%}>Girl</option>
            </select>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group" id="account_email_ctr">
          <label for="overview-usertype" class="control-label">UserType: </label>
          <div class="controls">
            <select name="usertype" id="overview-usertype">
              {% for type in type_list%}
              <option value="{{type.id}}" {% if type.id == user.usertype.id %} selected="selected" {% endif %}>{{type.typename}}</option>
              {% endfor %}
            </select>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group" id="account_email_ctr">
          <label for="overview-email" class="control-label">Email: </label>
          <div class="controls">
            <input type="email" id="overview-email" name="email" placeholder="Email" value="{{user.email}}"/>
            <span class="help-inline"></span>
          </div>
        </div>
        <div class="control-group" id="account_Addredd_ctr">
          <label for="overview-address" class="control-label">Address: </label>
          <div class="controls">
            <input type="text" id="overview-address" name="address" placeholder="Address" value="{{user.address}}"/>
            <span class="help-inline"></span>
          </div>
        </div>
      </div>
      <div id="profile" class="left span3">
        <div class="img-wrapper">
          <img class="profile-img" id="profile-img" src='/static/img/profile/{{user.id}}.png'/>
        </div>
        <input type="file" name="file" id="img-uploader"/>
      </div>
      <div class="form-actions clear">
        <a id="overview-submit" class="btn btn-info">
          <i class="icon-pencil"></i>
          Change
        </a>
        <a class="btn btn-danger" id="delete">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
      </div>
    </form>
  </div>
  <div id="Password" class="tab-pane fade">
    <form class="form-horizontal" id="passwd-form">
      <div class="control-group" id="passwd_username_ctr">
        <label class="control-label">Username: </label>
        <div class="controls">
          <input type="text" name="username" value="{{user.username}}" disabled/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group" id="passwd_ctr">
        <label for="psw-1" class="control-label">Password: </label>
        <div class="controls">
          <input type="password" id="psw-1" name="password" placeholder="Password"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group" id="passwd_ctr">
        <label for="psw-2" class="control-label">Repeat: </label>
        <div class="controls">
          <input type="password" id="psw-2" name="passwordr" placeholder="Repeat"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="form-actions">
        <a id="psw-submit" class="btn btn-info">
          <i class="icon-pencil"></i>
          Change
        </a>
      </div>
    </form>
  </div>
  <div id="Role" class="tab-pane fade">
    <form class="form-horizontal" id="role-info-form">
      <div class="control-group" id="role-info-ctr">
        <label class="control-label">Roles: </label>
        <div class="controls">
          <select size="10" multiple="multiple" name="roles" id="role-all">
            {% for role in roles %}
            <option {%if user.contains_role(role.rolename)%} selected="selected"{% endif%} value="{{role.id}}">{{role.rolename}}</option>
            {% endfor %}
          </select>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="form-actions">
        <a id="role-submit" class="btn btn-info">
          <i class="icon-pencil"></i>
          Change
        </a>
      </div>
    </form> 
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$("#overview-submit").click(function() {
  var data = {
    username : $("#overview-username").val(),
    age : $("#overview-age").val(),
    gender: $("#overview-gender").val(),
    email: $("#overview-email").val(),
    address: $("#overview-address").val(),
    type: $("#overview-usertype").val()
  };
  user.update({{user.id}}, data).done(function(json) {
    $("#table-item-{{user.id}}").find(".item-name").text(json.user.username);
    $.fancybox.close();
  });
});
$("#psw-submit").click(function() {
  var p1 = $("#psw-1").val();
  var p2 = $("#psw-2").val();
  if (p1 != p2) {
    error.top_message("password not match");
    return;
  }
  if (p1 == "") {
    error.top_message("password empty");
    return;
  }
  var data = {
    password: p1 
  };
  user.update({{user.id}}, data).done($.fancybox.close);
});
$("#role-submit").click(function() {
  var user_role = [{% for role in user.roles %}{{role.id}},{% endfor %} 0]; 
  user_role.pop();
  var data = {
    roles: {
      add:[],
      remove:[]
    }
  };
  var r_list = $("#role-all").val();
  for (var r in r_list) {
    if (r == "remove")
      continue;
    var t = parseInt(r_list[r]);
    var i = user_role.indexOf(t);
    if (i == -1) {
      if (t != null && t != NaN)
        data.roles.add.push(t);
    } else {
      user_role.remove(i);
    }
  }
  data.roles.remove = user_role;
  user.update({{user.id}}, data).done($.fancybox.close);
});

$("#delete").click(function() {
  user.delete({{user.id}}).done(function(json) {
    $.fancybox.close();
    $("#table-item-{{user.id}}").fadeOut('slow').remove();
  });
});
$('#img-uploader').change(function() {
  $(this).upload('/member/profile/img', function(data){
    var img = $(".profile-img");
    $(img).each(function() { 
      var src = $(this).attr('src');
      src += '?' + new Date().getTime();
      $(this).attr('src', src);
    });
  }, 'html');
});
});
</script>
