<table id="admin-table" class="table table-striped">
  <thead>
    <tr>
      <th class="header">#</th>
      <th class="header">User Name</th>
      <th class="header">Is Activate</th>
      <th class="header">Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for u in user_list %}
    <tr class="table-item" id="table-item-{{u.id}}">
      <td class="item-id">{{u.id}}</td>
      <td class="item-name">{{u.username}}</td>
      <td class="item-active">
        <div class="btn-group" data-toggle="buttons-radio">
          <a class="u_active btn {% if u.is_active %} active btn-success{% else %}btn-warning{% endif %}">Active</a>
          <a class="u_deactive btn {% if u.is_active %} btn-success {% else %}active btn-warning{% endif %}">Inactive</a>
        </div>
      </td>
      <td class="oprations">
        <a class="edit btn btn-info">
          <i class="icon-pencil"></i>
          Edit
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
$(document).ready(function() {
$("#pagination-position").load('/admin/user/pagination?page={{page}}')
$(".u_deactive").click(function() {
  if($(this).hasClass('active'))
    return;
  var user_id = $(this).parents('.table-item').find('.item-id').text();
  var t = $(this);
  user.deactivate(user_id).done(function() {
    $(t).parent().find('.btn').each(function() {
      $(this).addClass('btn-warning').removeClass('btn-success');
    });
  }); 
});
$(".u_active").click(function() {
  if($(this).hasClass('active'))
    return;
  var user_id = $(this).parents('.table-item').find('.item-id').text();
  var t = $(this);
  user.activate(user_id).done(function() {
    $(t).parent().find('.btn').each(function() {
      $(this).addClass('btn-success').removeClass('btn-warning');
    });
  }); 
});
$(".edit").live('click', function() {
  var id = $(this).parents('tr').find(".item-id").text(); 
  $.fancy_ajax('/admin/user/' + id);
});
});
</script>
