{% import 'imports/forms.html' as forms %}
<h4>Commodities</h4>
<hr/>
<table cellspacing="0" class="table table-striped">
  <thead>
    <tr>
      <th style="width: 40%;">Name</th>
      <th style="width: 30%;">Price</th>
      <th style="width: 30%;">Category</th>
    </tr>
  </thead>
  <tbody>
    {% for commodity in commodities %}
    <tr class="jstree-draggable" data-id="{{commodity.id}}">
      <td data-id="{{commodity.id}}">{{commodity.name}}</td>
      <td data-id="{{commodity.id}}">{{commodity.price}}</td>
      <td data-id="{{commodity.id}}">{{commodity.category.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="modal fade" id="add-commodity-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Add a new Commodity</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  </div>
</div>

<script src="{{url_for('static', filename='js/mine/admin/commodity.js')}}"></script>
