{% extends "base.html" %}

{% block page_title %}Member Center{% endblock %}

{% block container%}
<div id="main-content" class="well">
  <div id="user-pills">
    {% call forms.bs_pills() %}
      {{forms.bs_pills_item("Account", class="pill active", other='id="member-account-pill"')}}
      {{forms.bs_pills_item("Orders", class="pill", other='id="member-order-pill"')}}
    {% endcall %}
  </div>
  <div id="member-account">
  </div>
  <div id="member-orders">
  </div>
</div>
<script src="{{url_for('static', filename='js/mine/member/index.js')}}"></script>
{% endblock %}
