{% import 'imports/forms.html' as forms %}
{% call forms.bs_accordion('user-accordion') %}
  {% call forms.bs_accordion_item('user-accordion', 'user-profile', 'Profile', in=True) %}
      <div class="span7 left"> 
        {% call forms.bs_ctrgroup('Username') %}
          {{forms.input('username', 'account-username', value=user.username, other='placeholder="User Name"')}}
        {% endcall %}
        {% call forms.bs_ctrgroup('Points') %}
          {{forms.input('points', 'account-points', value=user.point|string, other='disabled')}}
        {% endcall %}
        {% call forms.bs_ctrgroup('Membership') %}
          {{forms.input('membership', 'account-membership', value=user.check_membership().name, other='disabled')}}
        {% endcall %}
        {% call forms.bs_ctrgroup('Age') %}
          {{forms.input('age', 'account-age', value=user.age, other='placeholder="Age"')}}
        {% endcall %}
        {% call forms.bs_ctrgroup('Gender') %}
        <select name="gender" id="account-gender">
          <option value="0" {% if user.gender == 0 %}selected="selected"{%endif%}>Secrete</option>
          <option value="1" {% if user.gender == 1 %}selected="selected"{%endif%}>Boy</option>
          <option value="2" {% if user.gender == 2 %}selected="selected"{%endif%}>Girl</option>
        </select>
        {% endcall %}
        {% call forms.bs_ctrgroup('Email') %}
          {{forms.input('email', 'account-email', type="email", value=user.email, other='placeholder="Email"')}}
        {% endcall %}
        {% call forms.bs_ctrgroup('Address') %}
          {{forms.input('address', 'account-address', value=user.address, other='placeholder="Address"')}}
        {% endcall %}
      </div>
      <div id="profile" class="left span3">
        {{forms.bs_img('/static/img/profile/'+user.id|string+'.png', id="profile-img")}}
        <input type="file" name="file" id="img-uploader"/>
      </div>
      <div class="form-actions clear">
      {{ forms.bs_btn('Change', btype='info', itype='pencil', 
        other='id="account-submit"')}}
      {{ forms.bs_btn('Delete', btype='danger', itype='trash', 
        other='id="account-delete"', class="offset1")}}
      </div>
  {% endcall %}
  {% call forms.bs_accordion_item('user-accordion', 'user-password', 'Password') %}
    <form class="form-horizontal" id="passwd-form">
      {% call forms.bs_ctrgroup('Username') %}
        {{forms.input('username', 'account-username', value=user.username, other='placeholder="User Name" disabled')}}
      {% endcall %}
      {% call forms.bs_ctrgroup('Password') %}
        {{forms.input('password', 'psw-1', type="password", other='placeholder="Password"')}}
      {% endcall %}
      {% call forms.bs_ctrgroup('Repeat') %}
        {{forms.input('password', 'psw-2', type="password", other='placeholder="Repeat Password"')}}
      {% endcall %}
      <div class="form-actions">
      {{ forms.bs_btn('Change', btype='info', itype='pencil', 
        other='id="psw-submit"')}}
      </div>
    </form>
  {% endcall %}
{% endcall %}
<script src="{{url_for('static', filename='js/mine/member/profile.js')}}"></script>
