<div id="cart" style="position: fixed; right: -60px; top: 100px;padding: 7px; font-size: 13px; border: solid #D2D2D2 1px; border-radius: 2px 0 0 2px; box-shadow: rgba(0, 0, 0, 0.0976563) 0px 0px 5px 0px;background-color:whiteSmoke;cursor:pointer;">
   <i class="icon-shopping-cart"></i> <b><i id="cart-num">{{num}}</i></b> dessert(s)
    <hr style="margin-top: 10px; margin-bottom: 3px;"/>
    <a> Go to check out</a>
</div>
<script>
!function(order) {
  order.id = {{user.cart.id}}
}(order);
$("#cart").hover(function() {
      $(this).animate({ right: '+=60'}, 300)
    }, function() {
      $(this).animate({ right: '-=60'}, 300)
})

$("#cart").click(function() {
    if ($("#cart-num").text() == '0') {
      error.top_message("There are no dessert in your cart")
      return
    }
    $.fancy_ajax_g({url: '/ajax/buy/{{user.cart.id}}', width: 1600, height: 500})
})
</script>
