<div>
  <div class="page-header">
    <h6>Comfirm Your Order</h6>
    <h6 class="right">Total Price<span id="order-total-price"> &nbsp; &nbsp; <b><i></i></b></span></h6>
  </div>
  {% for oi in order.order_items %}
  <div class="row">
    <a class="close" data-id="{{oi.id}}">
      &times; 
    </a>
    <div class="span2">
      <a class="thumbnail">
        <img id="dessert-img-{{oi.id}}" src='/static/img/dessert/{{oi.dessert.img}}.png'/>
      </a>
    </div>
    <div class="span4">
      Dessert Name: <b>{{oi.dessert.dname}}</b>
      <hr/>
      <input type="number" value="{{oi.num}}" max="{{oi.dessert.num}}" min="1" data-id="{{oi.id}}" class="order-item-num"/> &times;<b><i>${{oi.price}}</i></b>
    </div>
  </div>
  <hr id="hr-{{oi.id}}"/>
  {% endfor %}
  <div class="row">
    <a id="confirm" class='btn span6 white btn-warning'>
      <i class="icon-leaf icon-white"></i>
        Confirm
    </a>
  </div>
</div>
<script>
$(document).ready(function() {
  function show_price(total_price) {
    $("#order-total-price i").html('$' + total_price)
  }
  show_price({{order.total_price()}})
  $(".order-item-num").change(function() {
    var num = parseInt($(this).val())
    send_json({
      url: '/ajax/item/cnum/' + $(this).attr('data-id'),
      data: {num: num},
      method: 'POST'
    }).done(function(json) {
      if (json.success) {
        success.top_message("change success") 
        show_price(json.orderitem.order_total_price)
        var delta
      } else {
        error.top_message("change error")
      }
    })
  })
  $(".close").click(function() {
      var id = $(this).attr("data-id") 
      $('#hr-'+id).fadeOut()
      $(this).parent().fadeOut()
      order_item.delete(parseInt(id))
      order.refresh_cart()
  })
  $("#confirm").click(function() {
      $.post('/ajax/buy/{{order.id}}', 'json').done(function(data) {
        if (data.success) {
          success.top_message('Your Order Have Been Sent')  
          order.refresh_cart()
        } else {
          error.top_message('Order have no item')
        } 
        $.fancybox.close()
      })
  })
})
</script>
