{% extends "base.html" %}

{% block ext_scrpt %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
{% endblock %}
{% block page_title %}ADS{% endblock %}

{% block container%}
<div id="right-sider" class="well">
</div>
<div class="main-content">
  {{global.bs_search_bar()}} 
  <div id="recommend">
  </div>
  <div id="the-hostest">
  </div>
  <div id="new-stuff">
  </div>
</div>
<script src="{{url_for('static', filename='js/mine/core/index.js')}}"></script>
{% endblock %}
