{% extends "base.html" %}
{% import 'imports/global.html' as global%}

{% block ext_scrpt %}
<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
{% endblock %}
{% block page_title %}Index{% endblock %}

{% block meta %}
{{global.meta_keyword("Buybuy,Largest,Online,Shop")}}
{{global.meta_info("description", "Buybuy, the largest online shop in the world")}}
{% endblock %}

{% block container%}
<div id="right-sider">
  <div id="annos" class="well">
  </div>
  <div id="compare-operations" class="well columns">
    <ul class="nav nav-list">
      <li class="nav-header">Operations</li>
      <li id="compare-item"><a href="#">compare</a></li>
      <li id="cancel-all"><a href="#">cancel all</a></li>
    </ul>
  </div>
</div>
<div class="main-content">
  {{global.bs_search_bar("720px")}} 
  <div id="recommend">
  </div>
  <div id="the-hostest">
  </div>
  <div id="new-stuff">
  </div>
</div>
<script src="{{ url_for('static', filename='js/mine/core/compare.js') }}"></script>
<script src="{{url_for('static', filename='js/mine/core/index.js')}}"></script>
<script>
!function($) {
  set_scroll_event(290, $("#compare-operations"))  
}(jQuery)
</script>
{% endblock %}
