{% extends "base.html" %}
{% block page_title %}Sign in{% endblock %}

{% block meta %}
{{global.meta_keyword("Buybuy,Sign In")}}
{{global.meta_info("description", "Buybuy, sign in page")}}
{% endblock %}

{% block container %}
<div id="page">
<div id='login'>
  {% if error %}
  <div id="login_error" class="alert alert-error alert-block">
    <a class="close" href="#" data-dismiss="alert">x</a>
    <p><strong> {{ error }} </strong></p>
  </div>
  {% endif %}
  <form action="{{url_for('core.login_page')}}" method="post" id="loginform">
    <label>Username: 
    </label>
    <input type="text" id="id_username" name="username"/>
    <label>Password: 
    </label>
    <input type="password" id="id_password" name="password"/>
    <input type="submit" class='btn primary right' value="Sign In"/>
    {% if next %}
    <input type='hidden' name='next' value='{{next}}' />
    {% endif %}
    <div class="clear"></div>
  </form>
</div>
</div>
<script>
$(document).ready(function() {
  function focus() {
    $("#id_username").focus();
  }
  focus();
{% if error %}
{% endif %}
});
</script>
{% endblock %}
