body {
  background-image: url(../img/furley_bg.png);
}

body {
  padding-top: 50px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.brand {
  color: rgba(244, 244, 244, 0.8) !important;
}

/**--colors---**/
.blue {
  color: blue;
}

.content {
  background-color: rgba(245, 245, 245, 1);
  border-radius: 4px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

li {
  list-style: none;
}

/**---top message---**/
div.notif {
  padding: 5px 10px 5px 10px;
  background: #F89406;
  color: #fff;
  font-size: 16px; 
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;  
  z-index: 100000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

div.notif.top-success {
  background: #4EB1FF;
  border-color: #4D90F0;
}


/**--index--**/
div#main-content {
  padding-top: 20px;
}

.avatar {width: 20px; height: 20px; position: absolute;}
#account-name { margin-left: 25px;}

span.item-img {
  display: table-cell;
}

.gallery-row {
  margin-bottom: 10px;
}

/* datepicker */
.datepicker {
  background-color: #ffffff;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  position: absolute;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
}
.datepicker .nav {
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
.datepicker .nav:before, .datepicker .nav:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.datepicker .nav:after {
  clear: both;
}
.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}
.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}
.datepicker .months {
  float: left;
  margin-left: 4px;
}
.datepicker .months .name {
  width: 72px;
  padding: 0;
}
.datepicker .years {
  float: right;
  margin-right: 4px;
}
.datepicker .years .name {
  width: 36px;
  padding: 0;
}
.datepicker .dow, .datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}
.datepicker .dow {
  font-weight: bold;
  color: #808080;
}
.datepicker .calendar {
  padding: 4px;
}
.datepicker .days div {
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}
.datepicker .overlap {
  color: #bfbfbf;
}
.datepicker .today {
  background-color: #fee9cc;
}
.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}


/*login*/
#page #login, #page #register {
    margin: 10em auto;
    width: 310px;
}
#page #login form, #page #register form {
    padding:15px;
    border-radius:5px;
    background:#fff;
    border:1px solid #e5e5e5;
    box-shadow:rgba(200, 200, 200, 1) 0 4px 18px;
}
#page label {
    font-size:14px;
    text-align: left;
}
#page #login input[type='text'], #page #login input[type='password'],
#page #register input[type='text'], #page  #register input[type='password']{
    padding:3px;
    margin-top:2px;
    margin-bottom:16px;
    border:1px solid #e5e5e5;
    background:#fbfbfb;
}

#page #id_username, #page #id_password,#page #id_passwordr {
  width: 270px;
}

/**items**/
.commodity-info li{
  font-size: 16px;
  padding: 10px 0;
}
.commodity-info .info{
  padding: 20px 0;
}
.forum .comments {
  margin-top: 30px;
}
.comment-uesr-info {
  padding: 10px;
}
.add-comment {
  margin-top: 20px;
}
/*rating*/
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating.rating-e > span:hover,
.rating.rating-e > span:hover ~ span {
  color: transparent;
}
.rating.rating-e > span:hover:before,
.rating.rating-e > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}

.rating > span.choose,
.rating > span.choose ~ span {
  color: transparent;
}
.rating > span.choose:before,
.rating > span.choose ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold;
}

/*order*/
.order-box {
  border: 1px solid #A5CDEC;
  background-color: #C9E5FC;
  padding: 7px;
  border-radius: 4px;
  font-size: 15px;
}
.row-box, .order-confirm-box {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}
.order-box ul{
  margin: 0;
}
.order-box li {
  padding: 3px 0;
}
.order-box h6 {
  margin-bottom: 5px;
}
.order-box a {
  font-size: 13px; 
}
.order-box hr {
  margin: 5px 0;
  border-top: 1px solid #A0D4FF;
  border-bottom: 1px solid #E5F2FD;
}

.order-box .confirm-item {
  padding: 10px;
}

#order-confirm-outer {
  width: 200px;
}

.order-confirm-box {
  background-color: rgba(144, 202, 250, 0.63);
}
.order-confirm-box {
  padding: 10px 16px;
}
.order-confirm-inner {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 10px;
  padding: 5px;
}

.order-confirm-inner li {
  text-align: right;
  padding-right: 20px;
}

.thumbnail.hover {
  border: 1px solid #08C;
}
.thumbnail.choosed {
  border: 1px solid red; 
}
.thumbnail .choosed a {
  color: red;
}
.thumbnail .i-detail {
  margin-left: 25px;
}
.thumbnail hr{
  margin: 3px 0 5px 0;
}
#result-nav {
  width: 180px;
}

#result-nav.fixed {
  position: fixed;
  top: 100px;
  width: 180px;
  margin-left: 740px;
}

/** compare box **/
.compare-item, .compare-info, .operation {
  margin-left: 50px !important;
}

.navbar-inner {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44DDAA00', endColorstr='#44CC9900', GradientType=0) !important;
}
