{% extends "base.html"%}

{% block page_title %}Admin - {% block admin_title %}{% endblock %}{% endblock %}

{% block container %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="sidebar-nav well span3">
      <ul id="admin-nav" class="nav nav-list">
        <li class="nav-header">Admin Pages</li>
        <li class="nav-item {% if admin_index %}active{% endif %}">
          <a href="/admin">
            <i class="icon-home {% if admin_index %}icon-white{% endif %}"></i>
            Index
          </a>
        </li>
        <li class="nav-item {% if admin_user %}active{% endif %}">
          <a href="/admin/user">
            <i class="icon-user {% if admin_user %}icon-white{% endif %}"></i>
            User
          </a>
        </li>
        <li class="nav-item {% if admin_role %}active{% endif %}">
          <a href="/admin/role">
            <i class="icon-leaf {% if admin_role %}icon-white{% endif %}"></i>
            Role
          </a>
        </li>
        <li class="nav-item {% if admin_perm%}active{% endif %}">
          <a href="/admin/perm">
            <i class="icon-fire {% if admin_perm %}icon-white{% endif %}"></i>
            Permission
          </a>
        </li>
        <li class="nav-item {% if admin_type%}active{% endif %}">
          <a href="/admin/type">
            <i class="icon-text-width {% if admin_type %}icon-white{% endif %}"></i>
            UserType
          </a>
        </li>
        <li class="nav-item {% if admin_dessert%}active{% endif %}">
          <a href="/admin/dessert">
            <i class="icon-list {% if admin_dessert %}icon-white{% endif %}"></i>
            Dessert
          </a>
        </li>
        <li class="nav-item {% if admin_dtype%}active{% endif %}">
          <a href="/admin/dtype">
            <i class="icon-tint {% if admin_dtype %}icon-white{% endif %}"></i>
            Dessert Type
          </a>
        </li>
        <li class="nav-item {% if admin_order%}active{% endif %}">
          <a href="/admin/order">
            <i class="icon-shopping-cart{% if admin_order%}icon-white{% endif %}"></i>
            Orders
          </a>
        </li>
      {% block admin_side %}
      {% endblock %}
      </ul>
    </div>
    <div class="content span8">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}
