{% extends "admin/admin_base.html" %}

{% block admin_title %}{{module_l}}{% endblock %}

{% block admin_side %}
<li class="nav-header">Operation</li>
<li>
  <div class="row">
  <a class="btn span2" id="admin-op">
    <i class="icon-plus"></i>
      Add {{module_l}}
  </a>
  </div>
</li>
{% endblock %}

{% block content %}
<div class="admin-content">
  <div id="table-position">
  </div>
  <div id="pagination-position">
  </div>
</div>
<script>
$(document).ready(function() {

$('#table-position').load('/admin/{{module}}/table')

$("#admin-op").click(function() {
  $.fancy_ajax('/admin/{{module}}/add');
});
});
</script>
{% endblock %}
