<table id="admin-table" class="table table-striped">
  <thead>
    <tr>
        <th class="header">#</th>
        {% for header in table_show['header'] %}
        <th class="header">{{header}}</th>
        {% endfor %}
      <th class="header">Operations</th>
    </tr>
  </thead>
  <tbody>
    {% for item in item_list%}
    <tr class="table-item" id="table-item-{{item.id}}">
      <td class="item-id">{{item.id}}</td>
      {% for show in table_show['show'] %}
      <td class="{{show[0]}}">{{item[show[1]]}}</td>
      {% endfor %}
      <td class="oprations">
        <a class="edit btn btn-info">
          <i class="icon-pencil"></i>
          Edit
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
$(document).ready(function() {
  $("#pagination-position").load('/admin/{{module}}/pagination?page={{page}}')
  $(".edit").live('click', function() {
    var id = $(this).parents('tr').find(".item-id").text(); 
    $.fancy_ajax('/admin/{{module}}/' + id);
  });
});
</script>
