{% macro html() %}
  <!DOCTYPE html>
  <html>
  {{caller()}}
  </html>
{% endmacro %}

{% macro bs_head() %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock %}</title>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  <!--<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" />-->
  <link type="text/css" rel="stylesheet" href="/static/css/core.css" />
  <link type="text/css" rel="stylesheet" href="/static/fb/jquery.fancybox.css" />
  <link type="text/css" rel="stylesheet" href="/static/fb/helpers/jquery.fancybox-buttons.css" />
  <link type="text/css" rel="stylesheet" href="/static/fb/helpers/jquery.fancybox-thumbs.css" />
  <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="/static/fb/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/static/js/jquery.upload-1.0.2.js"></script>
  <script type="text/javascript" src="/static/fb/helpers/jquery.fancybox-buttons.js"></script>
  <script type="text/javascript" src="/static/fb/helpers/jquery.fancybox-thumbs.js"></script>
  <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
  <script type="text/javascript" src="/static/hc/js/highcharts.js"></script>
  <script type="text/javascript" src="/static/hc/js/modules/exporting.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/static/js/mine/core.js"></script>
  <script type="text/javascript" src="/static/js/mine/obj.js"></script>
  <script type="text/javascript" src="/static/js/mine/helper.js"></script>
</head>
{% endmacro %}

{% macro bs_html() %}
  <!DOCTYPE html>
  <html>
  {{bs_head()}}
  {{caller()}}
  </html>
{% endmacro %}


{% macro bs_top_bar(brand="Brand") %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">{{brand}}</a>
      <div class="nav-collapse">
        {{caller()}}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
