{% macro html() %}
  <!DOCTYPE html>
  <html>
  {{caller()}}
  </html>
{% endmacro %}

{% macro bs_head() %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock %}</title>
  <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  <!--<link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" />-->
  <link type="text/css" rel="stylesheet" href="/static/css/core.css" />
  <link type="text/css" rel="stylesheet" href="/static/fb/jquery.fancybox.css" />
  <link type="text/css" rel="stylesheet" href="/static/fb/helpers/jquery.fancybox-buttons.css" />
  <link type="text/css" rel="stylesheet" href="/static/fb/helpers/jquery.fancybox-thumbs.css" />
  <script type="text/javascript" src="/static/js/jquery-1.7.1.js"></script>
  <script type="text/javascript" src="/static/fb/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/static/js/jquery.upload-1.0.2.js"></script>
  <script type="text/javascript" src="/static/fb/helpers/jquery.fancybox-buttons.js"></script>
  <script type="text/javascript" src="/static/fb/helpers/jquery.fancybox-thumbs.js"></script>
  <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
  <script type="text/javascript" src="/static/hc/js/highcharts.js"></script>
  <script type="text/javascript" src="/static/hc/js/modules/exporting.js"></script>
  <script type="text/javascript" src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/static/js/mine/core.js"></script>
  <script type="text/javascript" src="/static/js/mine/obj.js"></script>
  <script type="text/javascript" src="/static/js/mine/helper.js"></script>
</head>
{% endmacro %}

{% macro bs_html() %}
  <!DOCTYPE html>
  <html>
  {{bs_head()}}
  {{caller()}}
  </html>
{% endmacro %}


{% macro bs_top_bar(brand="Brand") %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">{{brand}}</a>
      <div class="nav-collapse">
        {{caller()}}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro bs_search_bar2(width="600px") %}
<div id="search-bar">
  <div class="input-prepend input-append" style="font-size: 15px;">
    <span class="add-on" style="border-radius: 3px 0 0 3px; border-right: 0; height: 19px; padding: 7px 10px">All</span>
    <input type="search" id="index-search" placeholder="Your Can Search Here" style="width: {{width}}; height: 25px; border-radius: 0">
    <button class="btn add-on" type="button" style="height: 35px;">Search !</button>
  </div>
</div>
{% endmacro %}

{% macro bs_search_bar(width="600px") %}
<div id="search-bar">
  <div class="input-append" style="font-size: 15px;">
    <span id="select-wrapper" class="add-on" style="border-radius: 3px 0 0 3px; border-right: 0; height: 19px; padding: 7px 10px">
      <span id="selected-item">All</span>   
      <select id="cat-select" style="opacity: 0; position: absolute; margin-top: -25px; margin-left: -10px;width: 40px; height: 35px;">
      </select>
    </span>
    <input id="search-commodity-input" type="search" placeholder="Your Can Search Here" style="width: {{width}}; height: 25px; border-radius: 0">
    <button id="search-commodity-btn" class="btn add-on" type="button" style="height: 35px;">Search !</button>
  </div>
</div>
<script>
!function($) {
  $.getJSON('/api/category').done(function(obj) {
    objs = obj.objects
    function make_option(val, text) {
      return "<option value=\""+val+"\">"+text+"</option>"
    }
    var s = "" 
    for (var o in objs) {
      var ins = objs[o]
      s += make_option(ins.id, ins.name) 
    }
    $(s).appendTo("#cat-select")
  })
  $("#cat-select").change(function() {
     $(this).find("option").each(function() {
       if ($(this).attr("selected") == "selected") {
         var w1 = $("#select-wrapper").width()
         $("#selected-item").text($(this).text())
         var w2 = $("#select-wrapper").width()
         console.log($("#search-commodity-input").width())
         $("#cat-select").width($("#select-wrapper").width()+21)
         var w3 = $("#search-commodity-input").width() + w1 -w2
         $("#search-commodity-input").width(w3)
       }
     })
  })
}(jQuery)
</script>
{% endmacro %}
