<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Type" data-toggle="tab">User Type</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Type" class="tab-pane active">
    <form class="form-horizontal" id="type-form">
      <div class="control-group" id="typename-ctr">
        <label for="overview-typename" class="control-label">Type Name: </label>
        <div class="controls">
          <input value="{{type.typename}}" type="text" id="overview-typename" name="typename" placeholder="Type Name"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group" id="discount-ctr">
        <label for="overview-discount" class="control-label">Discount: </label>
        <div class="controls">
          <input value="{{type.discount}}" type="number" id="overview-discount" name="discount" placeholder="Discount"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group" id="fee-ctr">
        <label for="overview-fee" class="control-label">Fee: </label>
        <div class="controls">
          <input value="{{type.fee}}" type="number" id="overview-fee" name="fee" placeholder="Fee"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="form-actions clear">
        <a class="btn btn-info"  id="overview-submit">
          <i class="icon-pencil"></i>
          Change
        </a>
        <a class="btn btn-danger" id="delete">
          <i class="icon-trash icon-white"></i>
          Delete
        </a>
      </div>
    </form>
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$("#overview-submit").click(function() {
  var data = {
    typename: $("#overview-typename").val(),
    discount: $("#overview-discount").val(),
    fee: $("#overview-fee").val()
  };
  usertype.update({{type.id}}, data).done(function(json) {
    $.get('/admin/type/table', function(data) {
      $('#table-position').html(data);
    });
    $("#table-item-{{type.id}}").find(".item-name").text(json.usertype.typename);
    $.fancybox.close();
  });
});
$("#delete").click(function() {
  usertype.delete({{type.id}}).done(function(json) {
    $.fancybox.close();
    $("#table-item-{{type.id}}").fadeOut('slow').remove();
  });
});
});
</script>
