<ul class="nav nav-tabs" id="member-tab">
  <li class="active">
    <a href="#Dessert" data-toggle="tab">Dessert</a>
  </li>
</ul>
<div class="tab-content popup">
  <div id="Dessert" class="tab-pane active">
    <form class="form-horizontal" id="dessert-form">
      <div class="control-group" id="dessert-name-ctr">
        <label for="overview-dessert" class="control-label">Dessert Name: </label>
        <div class="controls">
          <input type="text" id="overview-dessertname" name="dessertname" placeholder="Dessert Name"/>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="form-actions clear">
        <a class="btn" id="overview-submit">
          <i class="icon-plus"></i>
            Add Dessert
        </a>
      </div>
    </form>
  </div>
</div>
</article>
<script>
$(document).ready(function() {
$("#overview-submit").click(function() {
  var data = {
    dessert_name: $("#overview-dessertname").val()
  };
  dessert.create(data).done(function(json) {
    $.get('/admin/dessert/table', function(data) {
      $('#table-position').html(data);
    });
    /*
    var item = '<tr class="table-item" id="table-item-' + json.dessert.id  + '">'
                + '<td class="item-id">' + json.dessert.id + '</td>'
                + '<td class="item-name">' + json.dessert.dname + '</td>' 
                + '<td class="item-img">' 
                + '<img id="dessert-img-' + json.dessert.id + '" src="/static/img/profile/1.png"/>'
                + '<td class="oprations"><a class="edit btn btn-info">'
                + '<i class="icon-pencil"></i>Edit</a></td></tr>'; 
    $("#admin-table tbody").append(item);
    */
    $.fancybox.close();
  });

});
});
</script>
