{% extends "base.html" %}

{% import 'imports/forms.html' as forms %}

{% macro com_info(blank1, blank2, class2)%}
<li class="row">
  <span class="item-label span2">{{blank1}} : </span>
  <span class="{{class2}} span3"><b>{{blank2}}</b></span>
</li>
{% endmacro %}


{% block page_title %}{{commodity.name}}{% endblock %}
{% block meta %}
{{global.meta_keyword(globals.appname+",Largest,Online,Shop,"+commodity.name)}}
{{global.meta_info("description", globals.appname+", the largest online shop in the world. "+commodity.des)}}
{% endblock %}

{% block container%}
<div class="well">
  <div class="row commodity-info">
    {{ forms.bs_img(url_for('static', filename='img/commodity/'+commodity.img_name), class="span5") }}
    <ul class="span5 offset1 info">
      {{ com_info("Commodity ID", "#"+commodity.id|string, "item-id")}}
      {{ com_info("Commodity Name", commodity.name, "item-name")}}
      {{ com_info("Commodity Price", "$"+commodity.price|string, "item-price blue")}}
      {{ com_info("Average Rating", commodity.avg_rating(), "item-price")}}
      {{ com_info("Descriptions", commodity.des, "item-price")}}
      <li class="row">
        <span class="item-label span2">Number : </span>
        <div class="span3">
          {{ forms.input_num("num", "num-"+commodity.id|string, class="order-num", ph="Number") }}
        </div>
      </li>      
      <li class="row">
        {{ forms.bs_btn("Add To Cart", btype="success", class="span2", icolor="white", itype="shopping-cart", 
            other='id="add-to-cart"')}}
        {{ forms.bs_btn("Buy It Now", btype="info", class="span2", icolor="white", itype="leaf", 
            other='id="buy-it-now"')}}
      </li>
    </ul> 
  </div>
  <hr/>
  <div class="forum">
  </div>
  <div>
  </div>
</div>
<script src="{{url_for("static", filename="js/mine/commodity.js")}}"></script>
<script>
$(document).ready(function() {
  register_refresh('comments', function() {
    $("#comments-block").remove()
    $(".forum").hide().load('{{url_for('commodity.item_comments', item_id=commodity.id)}}').fadeIn()
  })
  refresh_all()
  $("#add-to-cart").click(function() {
    add_to_cart({{commodity.id}})
  })
  $("#buy-it-now").click(function() {
    add_to_cart({{commodity.id}}, function() {
      window.location.href="/cart/check/" + order.id;
    })
  })
})
</script>
{% endblock %}
