{% import 'imports/forms.html' as forms %}
<div id="comments-block">
  <h3>Comments: </h3>
  <hr/>
  <div class="add-comment">
  {% if user and user.can_comment(commodity)%}
  <div class="row add-comment-content">
    <div class="rating rating-e span2">
      <span data-index="5">☆</span>
      <span data-index="4">☆</span>
      <span data-index="3">☆</span>
      <span data-index="2">☆</span>
      <span data-index="1">☆</span>
    </div>
    <div class="span7">
      {{ forms.input("comment", "comment-input", class='span7', type='text', other='placeholder="Leave A Comment"') }}
    </div>
    {{ forms.bs_btn("Add Comment", btype="success", class="span2", icolor="white", itype="comment", other='id="comment-submit"')}}
  <script>
    $(document).ready(function() {
        //for star
        var index = 0;
        var choosed = "";
        $('.rating.rating-e span').click(function() {
          index = parseInt($(this).attr("data-index"))
          if (choosed != "") {
            $(choosed).removeClass("choose")
          }
          $(this).addClass("choose")
          choosed = this
        })
        $("#comment-submit").click(function() {
          var co = $("#comment-input").val()
          if (co == "") {
            error.top_message("Comment Can't Be Null")
            return
          }
          if (index == 0) {
            error.top_message("Please Rate First")
            return
          }
          
          comment.create({
            comment: co, 
            user: {{user.id}}, 
            commodity:{{commodity.id}},
            rating: index
          }).done(function(data) {
            $.get('/commodity/comment/'+data.id).done(function(html) {
              success.top_message("Comment Add Success")
              var html = $(html) 
              html.hide()
              $(".comments").prepend(html);
              html.slideDown()
              $(".add-comment-content").fadeOut(function() {
                var success = '<div class="alert alert-success">'
                              + 'You Have Comment this Product</div>'
                $(success).hide().appendTo(".add-comment").fadeIn()
              }).remove();
            })

          })
          //clear
          $("#comment-input").val("")
          index = 0
          $(choosed).removeClass("choose")
          choosed = ""
        })
    })
  </script>
  </div>
  {% elif user and user.has_comment(commodity) %}
  <div class="alert alert-success">
    You Have Commented This Product
  </div>
  {% else %}
  <div class="alert">
    Before You Can Comment This Commodity, You Should Login and Buy It 
  </div>
  {% endif %}
  </div>
  <hr/>
  <div class="comments">
    {% for comment in commodity.comments.order_by('date')|reverse%} 
      {% include "commodity/item_comment.html" %}
    {% endfor %}
  </div>
</div>
